/.metadata/

.sonarlint
.DS_Store

observability-and-monitoring-v6/.vscode/
observability-and-monitoring-v6/docker-compose/**/.data/
CODES/observability-and-monitoring-v6/docker-compose/**/.data/
CODES/observability-and-monitoring-v6/docker-compose/**/.data/minio/
CODES/observability-and-monitoring-v6/.vscode
CODES/ms-securities-via-Oauth2-and-openid-v7/docker-compose/**/.data
